/**
*
* Globales
*
**/

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.logout-form {
  display: none;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: europa-regularregular, sans-serif!important;
  color: #393939!important;
  font-weight: 600!important;
  width: fit-content!important;
  width: -moz-fit-content!important;
}

h1,
h2,
h3{
  font-weight: 400 !important;
}
 
h2.detail-border::after, 
h3.detail-border::after{ 
  content: '';
  height: 3px;
  width: 35%;
  max-width: 50px;
  background: #3fb0ac;
  display: block;
  margin-top: 5px;
}
h4::after{ 
  content: '';
  height: 3px;
  width: 35%;
  background: #3fb0ac;
  display: block;
  margin-top: 5px;
} 

a:hover {
  color: #3fb0ac;
  text-decoration: underline;
}

a {
  color: #3fb0ac;
  border-color: #3fb0ac;
}

p {
  /*font-family: 'Muli',sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  letter-spacing: 0;
}

.badge {
  font-size: .875rem;
  font-weight: 500;
}

.jumbotron {
  background-color: #fff;
}

.top-banner h1 {
  margin: auto;
}

.color-orange {
  color: #ff7e61!important;
}

.color-green {
  color: #3fb0ac;
}

.color-white {  
  color: #fff;
}

.bg-orange {
  background-color: #ff7e61;
}

.bg-green {
  background-color: #3fb0ac;
}

.btn-green,
.badge-green {
  background: #3fb0ac;
  color: #fff;
  transition: all .1s ease-in-out;
}
.btn-green:hover,
.badge-green:hover {
  background: #2e8784;
  color: #fff;
  border-color: #2e8784;
}

.btn-outline-green,
.btn-green:focus,
.badge:focus,
.edit-recipe:focus {
  box-shadow: none;  
}

.btn-outline-green,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: transparent;
  color: #3fb0ac;
  border-color: #3fb0ac;
  transition: all .1s ease-in-out;
}

.btn-outline-green:active,
.btn-outline-green:hover {
  background-color: #3fb0ac!important;
  color: #fff!important;
}

.badge-orange,
.btn-orange {
  background: #ff7e61;
  color: #fff;
}

.badge-orange:hover,
.btn-orange:hover,
a.color-orange:hover {
  background: #d86b52;
  color: #fff;
}

.badge-outline-orange,
.btn-outline-orange {
  background: transparent;
  color: #ff7e61;
  border-color: #ff7e61;
}

.badge-outline-orange:hover,
.btn-outline-orange:hover {
  background: #ff7e61;
  color: #fff;
}

.green-bg,
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #3fb0ac;
  color: #fff;
}

.separator-pipe {
  color: #888;
}

.top-banner {
  background-color: #f4efeb!important;
  background-image: url('/img/pattern.png');
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #3fb0ac;
  font-size: 1.85em;
  padding-right: 5px;
  line-height: 25px;
}

.select2-selection__choice {
  display: flex; 
  align-items: center;
  padding-left: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #2e8784; 
}

.descripcion-corta {
  color: #606060;
}

.contenido-receta #body * {
  color: #606060;
}
@font-face {
  font-family:europa-lightregular;
  src:url("https://s.yumm.ly/font/europa-light-webfont.woff2") format("woff2"),url("https://s.yumm.ly/font/woff/europa-light-webfont.woff") format("woff");
  font-weight:100;
  font-style:normal
 }
 @font-face {
  font-family:europa-regularregular;
  src:url("https://s.yumm.ly/font/europa-regular-webfont.woff2") format("woff2"),url("https://s.yumm.ly/font/woff/europa-regular-webfont.woff") format("woff");
  font-weight:400;
  font-style:normal
 }
 @font-face {
  font-family:europa-boldregular;
  src:url("https://s.yumm.ly/font/europa-bold-webfont.woff2") format("woff2"),url("https://s.yumm.ly/font/woff/europa-bold-webfont.woff") format("woff");
  font-weight:700;
  font-style:normal
 }

/* Select 2: buscador de ingredientes */

.select2 {
  width: 100% !important;
}

.select2-selection {
  min-height: calc(2.875rem + 2px) !important;
}

.select2-search__field,
.select2-selection__choice {
  /*margin-top: 10px !important;*/
  padding-left: 15px;
  margin-top: 0;
}

/* Fin Select 2: buscador de ingredientes */

/* Navbar principal */

#menuPrincipal .registrarse {
  margin: 5px 0;
  font-family: europa-regularregular, sans-serif;
  letter-spacing: .85px;
  font-size: 1rem;
}



@media (max-width: 991px) {

  #menuPrincipal .navbar .nav-item {
    margin: 8px;
   }

   #menuPrincipal .navbar .nav-item .nav-link {
     font-size: 1.1rem;
   }

   #menuPrincipal.show {
     height: 90vh;
    }
    
    #menuPrincipal ul.navbar-nav {
      align-items: center;
      margin-top: 2em;
    }

    #menuPrincipal ul.navbar-nav li {
      margin-bottom: 10px;
    }
    
    #nav-icon {
      width: 35px;
      height: 28px;
      position: relative;
      display: block;
      margin-right: 30px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      cursor: pointer;
      border: 0;
    }
    
    #nav-icon span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #3fb0ac;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      border: 0;
    }

    #nav-icon span:nth-child(1) {
      top: 5px;
    }
    
    #nav-icon span:nth-child(2),
    #nav-icon span:nth-child(3) {
      top: 15px;
    }
    
    #nav-icon span:nth-child(4) {
      top: 25px;
    }
    
    #nav-icon.open span:nth-child(1) {
      top: 5px;
      width: 0%;
      left: 50%;
    }
    
    #nav-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    #nav-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    
    #nav-icon.open span:nth-child(4) {
      top: 14px;
      width: 0%;
      left: 50%;
    } 
}

@media (min-width: 992px) {
  .navbar.fixed {
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,0) !important;
    transition: background-color .3s;
    z-index: 999;
  }
  
  .navbar.fixed.scrolled {
    background-color: rgba(255,255,255,1) !important;
    z-index: 99999;
  }
}

.dropdown-item { 
  font-family: europa-regularregular, sans-serif;
  letter-spacing: .85px;
  font-size: 1rem;
}

.menu-usuario .logout {
  color: #dc3545;
}

.navbar .navbar-brand img{
  height: 50px;  
}

.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show > .nav-link,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
 color: #3fb0ac;
 border-bottom: 1px solid #3fb0ac;
}

.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.active {
  color: #3fb0ac;
  border-bottom: 1px solid #3fb0ac;
}

.navbar .nav-item .nav-link {
  color: #3fb0ac;
  border-bottom: 1px solid transparent;
  font-family: europa-regularregular, sans-serif;
  letter-spacing: .85px;
  font-size: 1rem;
}

.navbar .nav-item {
  margin: 0 10px;
}

.navbar-nav .dropdown .dropdown-menu .dropdown-item a i {
  width: 15px;
  margin-right: 5px;
}

/* Fin Navbar principal */

/* Buscador principal */ 

.search-cont {
  background: url('/img/bg-xl.png');
  background-position: top center;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
}

.transparent-bg {
  position: absolute;
}

.tomate-bg {
  top: 0;
  left: -50px;
  max-width: 400px;
}

.rabano-bg {
  bottom: -40px;
  right: 50px;
}

.huevo-bg {
  bottom: -15px;
  left: -50px;
  max-width: 200px;
}

.morrones-bg {
  top: 0;
  right: 0;
  max-width: 250px;
}

@media (min-width: 1300px) and (max-width: 1367px){
	.morrones-bg {
	    top: 0;
	    right: -90px;
	    max-width: 250px;
	}
	.tomate-bg {
	    top: -91px;
	    left: -63px;
	    max-width: 400px;
	}
}

.search-cont h1 {
  color: #3b3b3b;
  margin: auto;
}

.search-cont h1 span {
  color: #3fb0ac;
  text-decoration: underline;
}
.search-input {
  padding-right: 0!important;
}
.select2-selection.select2-selection--multiple {
    min-height: 57px!important;
}

.search-input .select2-container--default .select2-selection--multiple{
  border: 0;
  padding-left: 15px;
  box-shadow: 1px 1px 15px -5px grey;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-input .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin: 10px 5px 5px 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  padding: 5px 15px 5px 8px;
  margin-top: 0!important;

}

.search-btn {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3fb0ac;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 57px;

}
.search-btn button {
  border: none;
}
.search-btn button:hover {
  background-color: #2e8784;
}

.search-cont .search-btn input,
.search-btn button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  height: 100%;
  background: transparent;
} 

.search-cont .search-btn::before {
  font-family: "Font Awesome 5 Free";
  content: '\f002';
  font-weight: 600;
  display: block;
  position: absolute;
  color: #fff;
  z-index: 0;
  font-size: 1.25em;
  line-height:1; 
}

.search-cont .search-desc span {
  font-weight: 500; 
}

.home .search-cont .flex-column {
  margin-bottom: auto;
  margin-top: 6em;
}
.logo-xl {
  height: 220px;
  z-index: 99;
}


/* Registro y Login */

.login-register {
  position: relative;
}

.login-register::after,
.login-register::after { 
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%,rgba(125,185,232,0) 100%);
      width: 100%;
      height: 100%;
      z-index: 0;
}

.login-register .cont-login-register .card {
  z-index: 5;
}

.login-register .action-btns {
  border-color: rgba(0,0,0,.125);
}

/* Fin Registro y Login */


@media screen and (max-width: 768px){
  /* Generales */

  h1{
    font-size: 2.35rem;
  }

  h2{
    font-size: 1.925rem;
  }
  
  .js-filters.sticky-filter {
    position: initial!important;
    max-width: 100%;
  }
  

  /* Fin generales */

  /* Navbar */

  .navbar .nav-item .nav-link {
    width: -moz-fit-content;
  }

  /* Fin Navbar */

  /* Buscador de ingredientes */
  
  .search-cont {
    min-height: 65vh!important;
    background-image: url('/img/bg-xs.png');
    margin-bottom: 50px!important;
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom!important;*/
  }

  .home .search-cont .flex-column {
    margin-top: 1em;
  }

  .search-cont h1 {
    font-size: 2.5em;
    line-height: 40px;
  }
  
  .logo-xl {
    height: 120px;
    margin-top: 20px;
  }
  .huevo-bg {
    bottom: 10px!important;
    left: -10px;
    max-width: 100px!important;
  }
  
  .rabano-bg {
    bottom: 0px;
    right: 20px;
    max-width: 85px!important;
  }
  
  .tomate-bg {
    max-width: 180px!important;
  }
  
  .morrones-bg {
    max-width: 120px!important;
  }

  /* Fin Buscador de ingredientes */

  /* Card receta */ 

  .card .recipe-rate span {
    font-size: .875em!important;
  }

  /* Fin Card receta */

    /* Registro */
    
  .login-register .container,
  .login-register .container .cont-login-register { 
    margin-top: 1rem!important
  }

  /* Fin Registro */

  /* Mi perfil */

    .profile-description .nav-tabs {
      flex-direction: column;
    }

  /* Fin Mi perfil */
}

@media only screen and (min-width: 1400px){
  .search-cont{
    min-height: 85vh;
    background-repeat: no-repeat;
    background-size: 103%;
  }
}

@media only screen and (min-width: 960px){
  .search-cont{
    min-height: 75vh;
    /*background-repeat: no-repeat;
    background-size: 103%;*/
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px){
  .search-cont{
    min-height: 55vh;
    /*background-repeat: no-repeat;
    background-size: 103%;
    background-position: top center;*/
  }
}

/* Fin Buscador principal */

/* Footer */

footer.bg-light {
  background-color: #fffaf4; 
  box-shadow: 1px -1px 10px #b0b0b066;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
footer .links-list li a,
footer .social-list li a{
  color: #3fb0ac;
}

/* Fin Footer */

/* Recipe card */

.small-card .card .img-link::after {
  content: '';
  height: 230px;
  width: 100%;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  z-index: 6;
  background: -moz-linear-gradient(top, rgba(42,42,42,.45) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(42,42,42,.45) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(42,42,42,.45) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.card {
  transition: all .1s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 20px -9px #0009;
}

.small-card .card .card-img-top {
  height: 230px;
  max-height: 230px;
  object-fit: cover;
  position: relative;
 /* min-height: 220px; */
}

.small-card .card .card-body{
  padding: .5rem 1rem 1rem 1rem;
}

.card .card-title a:hover {
  text-decoration: none;
}

.card .card-title a {
  color: #393939;
}

.small-card .card .card-title{
  font-family: europa-regularregular, sans-serif;
  font-size: 1.35rem;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 8px;
}

.small-card .card .card-link {
  border-radius: 100px;
  background: #3fb0ac;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 200px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px -1px #000;
  z-index: 9999;
  transition: all .1s ease-in-out;
}

.recipe-list .card .card-link:hover,
.card .card-link:active,
.card .card-link:hover,
.card .card-link:focus {
  background-color: #2e8784;
}

.recipe-list .card .card-link:hover {
  background: #2e8784;
}

.card .card-link i {
   font-size: .875em;   
   color: #fff;
   text-shadow: 1px 1px 10px grey;
 }
 /*.small-card .card .card-link{
 font-size: .875rem;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  color: #3fb0ac;
  border: 1px solid #3fb0ac;
  padding: 5px 20px;
  border-radius: .2rem; 
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.small-card .card .card-link:hover {
  background: #3fb0ac;
  color: #fff;
}*/

.small-card .card .card-text {
  /*min-height: 70px;*/
  overflow: hidden;
  max-height: 70px;
  text-overflow: ellipsis;
}
/*.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Buscar" !important;
}*/
.custom-file-input {
  cursor: pointer;
}

.custom-file-label::after {
  content: '\f030'!important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  background: #3fb0ac;
  color: #fff;
}
.ql-editor.ql-blank::before {
  font-style: normal!important;
}

.card .recipe-rate span {
  font-size: 15px;
}
.receta .recipe-rate span {
  font-size: .865em;
}
.recipe-rate span {
  color: #E7AF34;
  margin-right: 3px;
  cursor: pointer;
}

.recipe-rate span:hover {
  /*font-weight: 600;*/
  cursor: auto !important;
}
.small-card .card .recipe-info {
  display: flex;
  margin-left: auto;
  height: 65px;
  overflow: hidden;
}

.small-card .card .recipe-info span {
  font-size: .875rem;
  color:  #878787;
  margin-left: 10px;
}

.small-card .card .recipe-info span:first-of-type {
  margin-left: 0;
}
.small-card .card .recipe-info span:last-of-type i {
  padding-right: 4px;
}

.small-card .card .recipe-info img {
  width: 15px;
  padding-bottom: 5px;
}

.small-card .card .icons {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.small-card .card .icons * {
  color: #fff;
}

.card .icons i {
  cursor: pointer;
}

.small-card .card .icons i:hover {
  font-weight: 600;
}

.small-card .card .icons .icon-count {
  padding-right: 5px;
}

.small-card .card .card-body {
  padding: .5rem 1rem 1rem 1rem;
}

.small-card .card .card-footer {
  background: transparent;
  border-top: 0;
  padding-top: 0;
  justify-content: space-between;
  align-items: center;
}

.small-card .card .card-footer .recipe-creator {
  color: #3fb0ac;
}

/* End Recipe card */


/**
*
* Layout administrador
* Layout mi perfil
*
**/

.admin-topbar {
  padding: 1em 0;
}

.profile-topbar {
  padding: 6em 0 .5em 0;
}

.admin-topbar,
.profile-topbar {
  position: relative;
  background-color: #e8e8e8;
}

.admin-topbar .nav-link:nth-of-type(1),
.profile-topbar .nav-link:nth-of-type(1) {
  padding-left: 0;
}

.profile-topbar__image {
  max-width: 150px;
}

.nav-tabs .nav-item .nav-link:hover {
  color: #2e8784;
}

.nav-tabs .nav-link.active {
  color: #3fb0ac;
  box-shadow: 0px 0px 5px -3px #3fb0ac;
  font-weight: 500;
}

.profile-description .dropup.actions .dropdown-menu.show a:hover {
  background: #f8f9fa;
}
.profile-description .dropup.actions .dropdown-menu.show {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  transform: translate3d(-91px, -156px, 0px) !important;
}

.profile-description .dropup.actions button {
  border: 0;
  position: initial;
  cursor: pointer;
}

.profile-description .dropup.actions button:active,
.profile-description .dropup.actions button:hover,
.profile-description .dropup.actions button:focus {
  background: #2e8784;
}

.dropup.actions button::after {
  content: none;
}

.dropup.actions {
  box-shadow: none;
}

@media (min-width: 992px) {
    .profile-topbar__image {
    position: absolute;
    top: 65px;
  }

  .profile-topbar__title {
    margin-left: 4.2em!important;
    margin-bottom: 0;
  }

  .profile-topbar__social a {
    font-size: 19.5px;
  }

  .profile-topbar__social {
    margin-left: 10.5em;
  }

  .profile-description {
    padding-left: 11.5em;
  }

  .profile-description .dropup.actions .dropdown-menu.show {
    transform: translate3d(-60px, -156px, 0px) !important;
  }
}

/**
*
* Listado de recetas
* Recetas por categorías
*
**/

.search-filter {
  padding: 60px 0;
  background-color: #e8e8e8;
}

.list-pagination .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sticky-filter {
  position: fixed;
  top: 90px;
  max-width: 255px;
}

.categories a:hover {
  text-decoration: none;
}

.categories .active a {
  color: white;
}

.recipe-list .img-cont img {
  height: 100%;
  max-height: 250px;
  object-fit: cover;
}

.recipe-list .img-cont {
  overflow: hidden;
}

.recipe-list p {
  font-size: 0.925em;
}

.recipe-list .card-text {
  color: #878787;
  max-width: 75%;  
  max-height: 70px;
  overflow: hidden;
  margin-bottom: 0; 
}

.recipe-list .icons .js-fav i, 
.js-fav i {
  color: #ff5100
}
.recipe-list .icons .js-fav i:hover,
.js-fav i:hover {
  font-weight: 900;
}
.fav-cont:hover i {  
  font-weight: 900;
}

.fav-cont:hover *{  
  color: #ff5100
}


.recipe-list .card .card-link {
  border-radius: 100px;
  background: #3fb0ac;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px -1px #000;  
  color: #ffff;
}

.recipe-list .card .recipe-rate i {
  color: #E7AF34;
  font-size: 12px;
  cursor: pointer;
}

.categories .list-group-item.active {
  background: #3fb0ac;
  border-color: #3fb0ac;
}

.categories .list-group-item:hover {
  background: #3fb0ac;
  border-color: #3fb0ac;
}

.categories .list-group-item:hover span,
.categories .list-group-item.active span{
  color: #fff;
}

span.filter-cat-name {
  color: #393939;
}

.recipe-list .icons * {
  margin: 0;
  font-size: 16px;
}

.recipe-list .icons {
  align-items: center;
}

.add-cat {
  cursor: pointer;
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: 1.5px solid #ff7e61;
}

.add-cat:hover,
.cancel-add-cat:hover {
  text-decoration: underline!important;
}

.add-cat-form.show {
  display: block;
}

.add-cat-form {
  display: none;
}

.pagination {  
  margin-top: 25px;
  margin-bottom: 25px;
}

.pagination .page-link {  
  color: #3fb0ac;
}
.pagination .page-item.active .page-link {  
  background-color: #3fb0ac;
  border-color: #3fb0ac;
}

/*.custom-file {
  border-top: 1px solid rgba(0,0,0,.125);
}*/


@media screen and (max-width: 1199px) {
    .huevo-bg {
    bottom: 30px;
    max-width: 140px;
  }
  
  .rabano-bg {
    bottom: 0px;
    right: 20px;
    max-width: 125px;
  }
  
  .tomate-bg {
    max-width: 250px;
  }
  
  .morrones-bg {
    max-width: 200px;
  }
}
@media screen and (min-width: 651px) and (max-width: 950px) {
  .js-filters.sticky-filter {
    position: initial!important;
    max-width: 100%;
  }
  
  .home .main-container .search-cont {
    /*background: url('/img/main-bg-sm.png');
    background-repeat: no-repeat;
    background-size: cover;*/
    min-height: 75vh;
  }
  .home .main-container .search-cont .container h1 {
    font-size: 3rem;
  }

  .home .main-container .search-cont .container .logo-xl {
    height: 135px;
  }

  .home .main-container .search-cont .container {
    margin-top: 1.5em;
    margin-bottom: auto!important;
  }
}

@media screen and (min-width: 951px) and (max-width: 1199px) {
  .home .main-container .search-cont {
    /*background: url('/img/main-bg-md.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 bottom;*/
    min-height: 75vh;    
  }
  
  .home .main-container .search-cont .container h1 {
    font-size: 3rem;
  }

  .home .main-container .search-cont .container .logo-xl {
    height: 155px;
  }
  
  .home .main-container .search-cont .container {
    margin-top: 8em;
    margin-bottom: auto!important;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.88rem;
  }
  h2{
    font-size: 1.55rem!important;
  }
  h3{
    font-size: 1.88rem;
  }

  .home .main-container .search-cont {
    /*background: url('/img/main-bg-xs.png');
    background-repeat: no-repeat;
    background-size: 100%;*/
    min-height: 75vh;
  }

  /* Listado de recetas - Recetas por categorías */ 
  .title-rate-cont {
    flex-direction: column;
  }

  .title-rate-cont .recipe-rate {
    margin: 0 auto .5rem 0 !important;
  }

  .search-filter {
    padding: 20px 0;
  }

  /*.search-filter h1 {
    font-size: 2rem;
  }*/
  .no-mt {
    margin-top: 0!important;
  }




}
/* End Listado de recetas - Recetas por categorías */




/**
*
* Editar perfil
*
**/

.profile-form__img {
  max-width: 100%;
}

.edit-topbar {
  padding: 3em 0;
}

/**
*
* Crear receta
*
**/

.crear-receta .select2-selection {
  min-height: calc(2rem + 2px) !important;
  padding: 9px;
}

.crear-receta .ql-editor {
  min-height: 300px;
}

.crear-receta .ql-container.ql-snow {
  height: auto;
}

.img-container {
  border: 1px dashed #cacaca;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 204px;
}

.img-container i {
  color: #cacaca;
  font-size: 2rem;
}

.img-container img {
  max-width: 100%;
  min-height: 204px;
}

.crear-receta.is-invalid .ql-container,
.crear-receta.is-invalid .ql-toolbar {
  border: 1px solid #dc3545;
}

.quote-imgs-thumbs {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 0.75rem;
}

.quote-imgs-thumbs--hidden {
  display: none;
}

.img-preview-thumb {
  background: #fff;
  border: 1px solid #777;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
          box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
  margin-right: 1rem;
  max-width: 140px;
  padding: 0.25rem;
}

.gallery {
  border-top: 1px solid #cacaca;
}

#body ol li{
  margin-bottom: 2em;
}

#drop-image .img-container{
  cursor: pointer;
}
.stars.logged{
  cursor: pointer;
}
.stars .fa{
  font-weight: 300;
}

.stars.rate-1 .fa-star:nth-of-type(1){
  color: orange;
  font-weight: 900;
}
.stars.rate-2 .fa-star:nth-of-type(1),
.stars.rate-2 .fa-star:nth-of-type(2){
  color: orange;
  font-weight: 900;
}
.stars.rate-3 .fa-star:nth-of-type(1),
.stars.rate-3 .fa-star:nth-of-type(2),
.stars.rate-3 .fa-star:nth-of-type(3){
  color: orange;
  font-weight: 900;
}
.stars.rate-4 .fa-star:nth-of-type(1),
.stars.rate-4 .fa-star:nth-of-type(2),
.stars.rate-4 .fa-star:nth-of-type(3),
.stars.rate-4 .fa-star:nth-of-type(4){
  color: orange;
  font-weight: 900;
}
.stars.rate-5 .fa-star:nth-of-type(1),
.stars.rate-5 .fa-star:nth-of-type(2),
.stars.rate-5 .fa-star:nth-of-type(3),
.stars.rate-5 .fa-star:nth-of-type(4),
.stars.rate-5 .fa-star:nth-of-type(5){
  color: orange;
  font-weight: 900;
}
.fa.checked{
  color: orange;
  font-weight: 900;
}

.receta-carrousel img{
  max-height: 370px;
}

.profile-comment{
  max-height: 110px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#album{
  min-height: 375px;
}

.errors{
  min-height: 72.4vh;
  background-image: url(/img/error.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.errors i{
  font-size: 4rem;
  color: #fc2143;
}
.errors .error-number{
  font-size: 5rem;
}

.login{
  background-image: url(/img/login.jpg);
  background-position: center;
}
.register{
  background-image: url(/img/register_2.jpg);
  background-position: center;
}
.contacto{
  background-image: url(/img/contacto.jpg);
  background-position: center;
}
.login-register{
  min-height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Receta individual */

.receta h1::after {
  content: '';
  height: 4px;
  width: 15%;
  background: #3fb0ac;
  display: block;
  margin-top: 15px;
}

.receta .caracteristicas * {
  font-size: .925rem;
}

.receta .caracteristicas i {
  /*color: #3fb0ac*/
  color: #ff7e61;
}

.receta .caracteristicas .col-md-4 {
  width: unset!important;
}

.receta .caracteristicas .dificultad,
.receta .caracteristicas .time-quant,
.receta .caracteristicas .diners-quant {
  color: #888;
}

.receta .edit-recipe {
  color:  #3fb0ac
}

.receta .recipe-img img {
  height: 100%;
  width: auto;
  object-fit: cover;
  min-height: 375px;
}
.img-receta{
  max-height: 390px;
}
.favoritos{
  cursor: pointer;
}
.rate-av{
  color: #888;
}


/* Fin Receta individual */

/* Admin ingredientes */
.select-reasign .select2-selection{
  min-height: 38px !important;
  padding: 0.3em;
}
.select-reasign .selection__arrow{
  top: 6px !important;
}
/* Empty results */
.empty-results{
  min-height: 50vh;
}

/** Fixes **/
.contacto .card-header,
.login-register .card-header{
  background-color: rgb(255, 126, 97);
  color: white !important;
  border: 1px solid #ff7e61;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.contacto h2:after,
.login-register h2:after{
  display: none;
}

.profile-follow{
  max-width: 100px;
}
.profile-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.multi-ingredient-selector .select2-selection--single{
  min-height: 50px !important;
  padding: 9px;
}
.multi-ingredient-selector .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px !important;
}
.quantity-ing{
  min-height: 50px !important;
  padding: 9px;
}

p.disabled{
  background-color: #e9ecef;
  opacity: 1;
}

.contacto .card,
.login  .card,
.register .card {
border: none;
}

.login-register {
  border: none
}

.contacto h2.h4,
.register h2.h4,
.login h2.h4 {
  color: white !important;
}